<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="https://samimami.ru/assets/img/favicon-32.png">
<link rel="apple-touch-icon" href="https://samimami.ru/assets/img/apple-touch-icon.png">
<meta name="theme-color" content="#9a51ab">
<link rel="preload" href="https://samimami.ru/assets/fonts/mulish-cyrillic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://samimami.ru/assets/fonts/fregat.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="https://samimami.ru/assets/css/site.css">
